<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show</title>
    <link rel="stylesheet" href="/stylesheets/show.css">
</head>
<body>
    <main>
        <div>
            <a href="/">Go Back To Home</a>
            <h1><%= fileName %></h1>
            <p><%= fileData %></p>
        </div>
    </main>
</body>
</html>